@import "aos/dist/aos.css";
@import "./dist/variables";
@import "./dist/mixins";
@import "./dist/typography";
@import "./plugins/flickity";

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg-alt);
  min-height: 100vh;
  max-width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  transition: background-color 0.4s ease;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  @extend %font-sans;
  color: var(--color-text);
}

.w-full {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth !important;
  }
}

.text__center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.content-columns {
  margin-top: 50px;
  margin-bottom: 20px;
  div {
    margin-bottom: 40px;
  }

  ol,
  ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  @include media-min(768px) {
    display: flex;
    justify-content: space-between;
  }
}

.skills-icons-left {
  & > img {
    margin-right: 10px;
  }

  & > img:last-child {
    margin-right: 0;
  }
}
