@import "./dist/mixins";

.header {
  pointer-events: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .nav > div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .page-link {
    position: relative;
    padding: 0.5rem;
    line-height: 1rem;
    color: var(--color-text-light);
    pointer-events: auto;
    transition: 0.2s ease;
    &.active,
    &:hover {
      color: var(--color-text);
    }
  }

  .logo {
    font-weight: 600;
    margin-left: -12px;
  }

  .list {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
