@import "../dist/mixins";

.page__header {
  padding-top: 150px;
  padding-bottom: 120px;
  position: relative;
  & > * {
    position: relative;
    z-index: 2;
  }

  &.hero::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgb(233, 233, 233, 0.856);
    background: linear-gradient(
      0deg,
      #e9e9e9,
      rgba(233, 233, 233, 0.896) 90%,
      rgba(233, 233, 233, 0.856)
    );
    overflow: hidden;
  }

  &.hero {
    .page__title,
    .page__subtitle {
      color: #414040;
    }
  }

  .page__title {
    z-index: 3;
    font-size: 40px;
    font-weight: 700;
    color: var(--muted-2);
  }

  .page__subtitle {
    z-index: 3;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    color: var(--muted-2);
  }
}
