@import "../dist/mixins";

.project {
  * {
    color: var(--muted-2);
  }

  h1,
  h2 {
    color: #414040;
    font-weight: 600;
  }
  h2,
  h3 {
    font-weight: 600;
  }

  h2.big {
    font-size: 31px;
    width: 90%;
  }

  img {
    border-radius: 8px;
    object-fit: cover;
    margin: 10px 0;
  }

  h3 {
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 20px;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin: 8px 0;
  }

  .columns {
    margin-bottom: 50px;

    @include media-min(768px) {
      display: flex;
      align-items: center;

      & > * {
        flex-basis: 100%;
        margin-bottom: 0;
      }
    }

    .btn {
      align-self: flex-start;
      flex: none;
      margin: 0;
    }
  }

  .content {
    h2,
    h3 {
      margin: 1rem 0;
    }
  }
}
